*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgba(34, 4, 13, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

h1{
	margin-bottom: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 32px;
	color: rgb(228, 26, 127);
}

.container{
	background-color: rgba(255, 0, 127, 0.2);
	padding: 24px;
	border-radius: 16px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 450px;
}	

input, button{
	width: 300px;
	padding: 8px;
	border-radius: 8px;
	margin-bottom: 8px;
}
.container form input{
	border: 1px solid rgb(228, 26, 127);
}

.container form input:focus{
	outline: 2px solid rgb(228, 26, 127);
}

button{
	background-color: rgb(228, 26, 127);
	color: white;
	cursor: pointer;
}

button:hover{
	background-color: rgb(221, 136, 153);
}

.success-message{
	font-size: 12px;
	width: 300px;
	padding: 8px;
	border-radius: 8px;
	margin-bottom: 8px;
	text-align: center;
	background-color: rgba(0, 255, 0, 0.5) ;
	color: white;
	display: none;
}

.fail-message{
	font-size: 12px;
	width: 300px;
	padding: 8px;
	border-radius: 8px;
	margin-bottom: 8px;
	text-align: center;
	background-color: rgba(255, 0, 0, 0.5) ;
	color: white;
	display: none;
}

